In [48]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report

In [50]:
df = pd.read_csv('dataset.csv')
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

   age  sex  cp  trestbps  chol  ...  thal.1  thal.2   hair  adult  country
0   52    1   0       125   212  ...       3       3  black      1      IND
1   53    1   0       140   203  ...       3       3  black      1      IND
2   70    1   0       145   174  ...       3       3  black      1      IND
3   61    1   0       148   203  ...       3       3  black      1      IND
4   62    0   0       138   294  ...       2       2  black      1      IND

[5 rows x 19 columns]

In [51]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['hair'] = le.fit_transform(df['hair'])
df['country'] = le.fit_transform(df['country'])

X = df.drop('target',axis = 1)
Y = df['target']

X.shape,Y.shape

((1025, 18), (1025,))

## **Upsampling**

In [52]:
from imblearn.combine import SMOTEENN
sm=SMOTEENN()
x_upsampled,y_upsampled=sm.fit_resample(X,Y)
xr_train,xr_test,yr_train,yr_test=train_test_split(x_upsampled,y_upsampled,test_size=0.2)

In [53]:
def random_forest_clf(x_train,x_test,y_train,y_test):
  clf = RandomForestClassifier(n_estimators=200,random_state=0,n_jobs=-1)
  clf.fit(x_train,y_train)
  predictions = clf.predict(x_test)
  print('Accuracy: ',accuracy_score(y_test,predictions))
  return predictions,clf

In [54]:
y_pred,model = random_forest_clf(xr_train,xr_test,yr_train,yr_test)

Accuracy:  1.0

### **Classification report**

In [59]:
print(classification_report(yr_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        94
           1       1.00      1.00      1.00        76

    accuracy                           1.00       170
   macro avg       1.00      1.00      1.00       170
weighted avg       1.00      1.00      1.00       170

## **Saving the model**

In [61]:
import pickle

with open('model.sav', 'wb') as f:
    pickle.dump(model, f)

In [64]:
with open('model.sav', 'rb') as f:
    model = pickle.load(f)

p = model.predict(xr_test)
print(classification_report(p,yr_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        94
           1       1.00      1.00      1.00        76

    accuracy                           1.00       170
   macro avg       1.00      1.00      1.00       170
weighted avg       1.00      1.00      1.00       170